<app-common-list-layout [menus]="menus">
  <div page-content>
    <app-table
      [tableTitle]="tableTitle"
      [dataSource]="dataSource"
      [columns]="columns"
      [displayedColumns]="displayedColumns"
      [onAdd]="true"
      [onEdit]="onEdit"
      [onDelete]="onDelete"
      (onEditClicked)="handleEditItem($event)"
      (onAddClicked)="handleAddItem()"
      (onDeleteClicked)="handleDeleteItem($event)"
      (onSearch)="handleOnSearch($event)"
    >
    </app-table>
  </div>
</app-common-list-layout>
