<table mat-table [dataSource]="customerList?.customerList || []">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.customerId}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
    </ng-container>

    <ng-container matColumnDef="isActive">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.isActive ? "Active" : "Inactive"}} </td>
    </ng-container>

    <ng-container matColumnDef="lastOrder">
        <th mat-header-cell *matHeaderCellDef> Last Order Date </th>
        <td mat-cell *matCellDef="let element"> {{element.lastOrderDate}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>