<form onsubmit="" [formGroup]="customerUpdateForm">
    <div class="flex flex-col">
        <mat-form-field>
            <mat-label>Phone number</mat-label>
            <input matInput formControlName="customerPhone" />
            <mat-icon matSuffix [fontIcon]="'phone'"></mat-icon>
            <mat-hint>Include area code</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Phone number</mat-label>
            <input matInput formControlName="customerPhone" />
            <mat-icon matSuffix [fontIcon]="'phone'"></mat-icon>
            <mat-hint>Include area code</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Phone number</mat-label>
            <input matInput formControlName="customerPhone" />
            <mat-icon matSuffix [fontIcon]="'phone'"></mat-icon>
            <mat-hint>Include area code</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Phone number</mat-label>
            <input matInput formControlName="customerPhone" />
            <mat-icon matSuffix [fontIcon]="'phone'"></mat-icon>
            <mat-hint>Include area code</mat-hint>
        </mat-form-field>
    </div>
</form>